.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    .section-three-list-item {
        width: 80%;
        display: flex;
        flex-direction: column;

        span {
            font-size: 2rem;
            line-height: 3rem;
            padding-top: 2rem;
        }
    }
}